.photo:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: span 2;
} 

.photo:nth-child(8) {
  grid-column: 2 / 4;
  grid-row: span 2;
} 

@media (max-width: 640px) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.photo {
  display: grid;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.photo img {
  grid-area: 1 / 1;
}

.views {
  grid-area: 1 / 1;
  background-color: rgba(0, 0, 0, .2 );
  color: #fff;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
}

.views::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: .25rem;
  background: url('../../Assets/visualizacao.svg') no-repeat;
}

.photo:hover .views {
  display: flex;
  transition: 3s;

}