.delete {
  background-color: #ddd;
  padding: .3rem .6rem;
  line-height: 1;
  border: none;
  font-size: .8rem;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover,
.delete:focus {
  background-color: #fff;
  box-shadow: 0 0 0 3px #eee;
}