.graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.item {
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
  border-radius: 5px;
  display: grid;
  align-items: center;
}

.total {
  grid-column: 1 / 3;
  font-size: 1.7rem;
  padding: 2rem;
  font-weight: bold;
}

@media (max-width: 960px) {
  .graph {
    grid-template-columns: 1fr;
  }
  .total {
    grid-column: 1;
    font-size: 1.25rem;
  }
}