* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: #333;
  --fonte-principal: Helvetica, Arial, sans-serif;
  --fonte-secundaria: 'Spectral', Georgia;
  font-family: var(--fonte-principal);
}


h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--fonte-principal);
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}