.botao {
  cursor: pointer;
  padding: .8rem 1.2rem;
  font-family: var(--fonte-principal);
  border: none;
  border-radius: .5rem;
  background-color: #0dcedb;
  color: #004e55;
  box-sizing: border-box;
  min-width: 8rem;
}

.botao:hover, .botao:focus {
  outline: none;
  box-shadow: 0 0 0 2px #bdf9fd;
  transition: .25s;
}

.botao:disabled {
  opacity: .5;
  cursor: wait;
}

.input {
  padding: .25rem;
}

.inputwrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  padding: .8rem;
  border-radius: .5rem;
  background-color: #eee;
}

.input:focus, .input:hover {
  outline: none;
  box-shadow: 0 0 0 2px #bdf9fd;
  background: #fff;
  transition: .25s;
}

.label {
  display: block;
  line-height: 1;
  padding-bottom: .5rem;
}

.erro {
  color: #d42222;
  font-size: .87rem;
  margin-top: .25rem;
}